.exemple {
  color: #fff;
  text-align: center;
}

.exemple-item {
  /* display: inline; */
  display: block;
  width: 33.333%;
  height: 150px;
}

.exemple-item-first {
  background-color: #FAA116;
}

.exemple-item-second {
  background-color: #57C7C3;
  margin-left: auto;
}

.exemple-item-third {
  background-color: #3B97D3;
  margin-left: auto;
  margin-right: auto;
}

